.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: lavender;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}