.parallax{
    height: 100vh;
}
.parallax-layer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 100vh;
    left: 0;
    transition: 0.5s all;
    
    z-index: -1;
    opacity: 0;
}
.parallax-layer:nth-child(2n){
    background-color: goldenrod;
}
.active-layer{
    z-index: 1;
    opacity: 1;
    bottom: 0;
}
