.question2{
    background: linear-gradient(145deg, #ffffff, #e6d8dd);
    box-shadow:  20px 20px 60px #d9ccd0,
                -20px -20px 60px #ffffff;
}
/* .question2:hover{
    margin-top: 100px;
    box-shadow:  20px 20px 60px #d9ccd0,
                -20px -20px 60px #ffffff;
} */
.question2::before, .question2::after {
    background: lavenderblush;
}
.question2::before{
    content: "How Did Yo";
    left: 0;
    text-align: right;
}
.question2::after {
    content: "u Do All Those?";
    right: 0;
    text-align: left;
}