.header {
}
.wall {
    height: 400px;
    width: 700px;
    background-image: url(../../images//undraw_Web_developer_re_h7ie.svg), linear-gradient(lavender, lavender);
    background-size: 100% 100%;
    background-position: center;

    transform: rotateX(51deg) rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.wall:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.title-text {
    font-size: 2rem;
    padding-right: 20%;
    /* background: linear-gradient(to right, #fc00ff, #00dbde);
    mix-blend-mode: overlay;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}
