.questions {
    height: 400px;
    width: 50%;
    transform: perspective(1000px) rotateX(4deg) rotateY(-16deg) rotateZ(4deg);

    border-radius: 50px;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    transition: 1.5s all;
}
.questions:hover {
    transform: translate(0);
}

.questions::before,
.questions::after {
    height: 100%;
    width: 50%;
    /* border-radius: 50px; */

    font-size: 2rem;
    line-height: 350px;

    position: absolute;
    top: 0;
    transition: 1s all;
}
.questions:hover::before {
    position: absolute;
    transform: translate(-200px, -700px) rotateZ(30deg);
    opacity: 0.2;
}
.questions:hover::after {
    position: absolute;
    transform: translate(0px, 700px) rotateZ(30deg);
    opacity: 0.2;
}

.questions img {
    max-width: 300px;
    margin-left: 1rem;
}