.title-text {
    font-size: 2rem;
    padding: 5% 20% 0 0;
    /* background: linear-gradient(to right, #fc00ff, #00dbde);
    mix-blend-mode: overlay;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}